* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.12;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.accent {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1166px) {
  .container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*--------------HEDER------------*/

.heder {
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
}

.header-logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
  padding-top: 20px;
  padding-bottom: 19px;
  display: flex;
  align-items: center;
}

.header-logo-italic {
  font-style: italic;
}

.header-logo-icon {
  fill: transparent;
  stroke: #fd9222;
  margin-left: 4px;
}

.header-menu-btn {
  background-color: transparent;
  border: none;
  padding-top: 20px;
  padding-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu-btn-icon {
  fill: #111;
}

.header-menu-list {
  display: none;
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
  display: block;
  transition: color 200ms ease;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-soc-list {
  display: none;
}

.header-soc-item {
}

.header-soc-link {
  display: inline-block;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111111;
  transition: stroke 200ms ease;
}

.header-soc-icon:hover {
  stroke: #fd9222;
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .header-container {
    gap: 48px;
  }

  .header-menu-btn {
    display: none;
  }

  .header-navigation {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .header-menu-list {
    display: flex;
    gap: 24px;
  }

  .header-soc-list {
    display: flex;
    gap: 18px;
  }
}

@media screen and (min-width: 1166px) {
  .header-logo {
    font-size: 18px;
    line-height: 1.11;
  }

  .header-container {
    gap: 90px;
  }
}

/*--------------HEDER------------*/
/*-------------HERO---------*/
.hero {
  max-width: 375px;
  background-color: #1e1823;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/hero/hero-image-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 55px;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/hero/hero-image-mob@2x.jpg);
  }
}

.hero-wrapper {
  padding: 395px 19px 20px 21px;
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 290px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px 14px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background: #fd9222;
  border-radius: 100px;
  padding: 12px 28px;
  border: none;
  /* margin-right: 14px; */
  transition: color 300ms ease, background-color 300ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-anchor-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 12px 28px;
  border-color: transparent;
  border: 1px solid #fff;
  transition: color 300ms ease, border 300ms ease;
}

.hero-anchor-link:hover,
.hero-anchor-link:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.hero-scrol-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-scrol-icon-box {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-scrol-icon {
  fill: #fd9222;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/hero/hero-image-tab.jpg);
    margin-bottom: 40px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url(../images/hero/hero-image-tab@2x.jpg);
    }
  }
  .hero-wrapper {
    padding: 671px 40px 40px 40px;
  }

  .hero-title {
    font-size: 28px;
    line-height: 1.21;
    max-width: 484px;
  }

  .hero-btn,
  .hero-anchor-link {
    padding: 14px 40px;
  }

  .hero-scrol-link {
    font-size: 14px;
    line-height: 1.29;
    margin-left: auto;
  }

  .hero-scrol-icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 1166px) {
  .hero {
    max-width: 1166px;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/hero/hero-image-desk.jpg);
    margin-bottom: 72px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url(../images/hero/hero-image-desk@2x.jpg);
    }
  }
  .hero-wrapper {
    padding: 375px 40px 40px 40px;
  }
}
/*-------------HERO---------*/
/*---------FEATURES----------*/

.features {
  margin: 0 auto;
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.features-item {
  padding-right: 28px;
}

.features-item-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
}

.features-item-icon {
  fill: #fd9222;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features-list {
    gap: 32px;
  }

  .features-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1166px) {
  .features-list {
    padding-left: 36px;
    padding-right: 36px;
    gap: 70px;
  }

  .features-item {
    position: relative;
    flex-basis: calc((100% - 140px) / 3);
    padding-right: 0;
  }

  .features-item:not(:last-of-type)::after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 0px;
    height: 124px;
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
  }
}

/*---------FEATURES----------*/
/*-----------TASTE-----------*/

.taste {
  padding-top: 44px;
  padding-bottom: 30px;
}

.taste-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.taste-item {
  position: relative;
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 100%;
  height: 270px;
  padding: 28px 32px;
  overflow: hidden;
}

.taste-item:nth-child(1) {
  background: #fd9222;
}

.taste-item:nth-child(3) {
  background: #1e1823;
}

.taste-item:hover .taste-item-hidden-box {
  transform: translateY(0);
}

.taste-item-image {
  margin: 0 auto;
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.taste-subtitle-white {
  color: #fff;
}

.taste-item-hidden-box {
  background-color: #fff;
  border-radius: 15px;
  padding: 28px;
  width: 100%;
  height: 270px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 300ms ease;
}

.taste-subtitle-hidden-box {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}

.taste-item-btn {
  display: flex;
  gap: 6px;
}

.taste-item-btn-name {
  border: none;
  border-radius: 35px;
  padding: 6px 16px;
  min-width: 55px;
  height: 24px;
  background-color: #fd9222;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
}

.taste-item-btn-benefits {
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  min-width: 93px;
  height: 24px;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
}

.taste-text-hidden-box {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .taste {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .taste-title {
    max-width: 400px;
    margin-bottom: 28px;
  }

  .taste-text {
    max-width: 486px;
    margin-bottom: 50px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    flex-basis: calc((100% - 32px) / 2);
  }

  .taste-item:nth-child(2) {
    order: 2;
  }

  .taste-item:nth-child(3) {
    order: 3;
  }
}

@media screen and (min-width: 1166px) {
  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .taste-list {
    gap: 19px;
  }

  .taste-item {
    flex-basis: calc((100% - 57px) / 4);
  }

  .taste-item-hidden-box {
    padding: 20px;
  }

  .taste-item:nth-child(2),
  .taste-item:nth-child(3) {
    order: 0;
  }
}

/*-----------TASTE-----------*/
/*-----------MADE-----------*/

.made {
  padding-top: 30px;
  padding-bottom: 30px;
}

.made-title {
  margin-bottom: 32px;
}

.made-box {
}

.made-image {
  margin-bottom: 20px;
}

.made-content {
  border-radius: 15px;
  padding: 20px 14px;
  background: #fff;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  max-width: 350px;
  margin-bottom: 20px;
}

.made-list {
}

.made-item {
  position: relative;
  padding-left: 16px;
  margin-bottom: 18px;
}

.made-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  position: absolute;
  left: 0;
  top: 5px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

@media screen and (min-width: 768px) {
  .made {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .made .container {
    padding-left: 77px;
    padding-right: 77px;
  }

  .made-title {
    margin-bottom: 50px;
  }

  .made-content {
    padding: 32px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .made-item-text {
    max-width: 470px;
  }
}

@media screen and (min-width: 1166px) {
  .made {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .made .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .made-box {
    display: flex;
    gap: 20px;
  }

  .made-item {
    margin-bottom: 24px;
  }

  .made-item-text {
    max-width: 410px;
  }
}

/*-----------MADE-----------*/
/*-----------REVIEW-----------*/

.review {
  padding-top: 30px;
  padding-bottom: 60px;
}

.review-title {
  margin-bottom: 74px;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 50px;
}

.review-item {
  position: relative;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  padding: 56px 16px 42px;
}

.review-image {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.review-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 165px;
  height: 41px;
  margin: 0 auto;
  transition: color 300ms ease, background-color 300ms ease;
  background-color: transparent;
}

.review-btn:hover,
.review-btn:focus {
  background-color: #fd9222;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .review {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .review-title {
    margin-bottom: 91px;
  }

  .review-list {
    gap: 50px 16px;
  }

  .review-item {
    flex-basis: calc((100% - 16px) / 2);
    padding: 56px 16px 24px;
  }

  .review-item:last-child {
    margin: 0 auto;
  }

  .review-btn {
    font-size: 18px;
    padding: 14px 40px;
    min-width: 222px;
    height: 50px;
  }
}

@media screen and (min-width: 1166px) {
  .review {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .review-list {
    gap: 28px;
  }

  .review-item {
    flex-basis: calc((100% - 56px) / 3);
    padding: 56px 24px 24px;
  }

  .review-item:last-child {
    margin: unset;
  }
}

/*-----------REVIEW-----------*/
/*-----------FOOTER-----------*/

.footer {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 86px;
}

.footer-box-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-box-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
}
.footer-address {
}
.footer-address-list {
  margin-bottom: 50px;
}
.footer-address-item {
}

.footer-address-item:first-child {
  margin-bottom: 4px;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  font-style: normal;
}

.footer-box-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-label {
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.footer-form-btn {
  padding: 17px 40px;
  border: none;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1166px) {
}

/*-----------FOOTER-----------*/

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.03);
  position: fixed;
  top: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 26px;
  right: 26px;
  background-color: transparent;
  border: none;
}

.modal-close-icon {
  fill: transparent;
  stroke: #111;
  transition: stroke 200ms ease;
}

.modal-title {
  text-align: left;
  max-width: 300px;
  margin-bottom: 40px;
}

.modal-form {
}

.modal-field {
  margin-bottom: 18px;
}

.modal-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: inline-block;
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  width: 100%;
  height: 68px;
  background-color: transparent;
  padding-left: 68px;
  outline: transparent;
  transition: border-color 200ms ease;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 200ms ease;
}

.modal-textarea {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  width: 100%;
  height: 137px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 200ms ease;
}

.modal-textarea:focus {
  border-color: #fd9222;
}

/* ---------------------------- */

.modal-field-checkbox {
  margin-bottom: 40px;
}

.modal-check {
  visibility: hidden;
}

.modal-check-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  .modal-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fd9222;
  }
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  fill: transparent;
  transition: background-color 300ms ease, fill 300ms ease;
}

.modal-checkbox-icon {
}

.modal-check:checked + .modal-check-text .modal-checkbox {
  background-color: #fd9222;
  border: none;
  fill: #fafafa;
}

.modal-btn {
  display: block;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 117px;
  height: 45px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  transition: background-color 300ms ease, color 300ms ease;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
/* ----------------------------- */
